.grid-pagination .radio{
    display: inline-block;
}

form.dataGrid{
    position:relative;
}

form.dataGrid .overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}
form.dataGrid .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}